input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-default);

    padding: 0.75rem 1rem;

    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block; /*Precisa ser block para pegar o margin-bottom. Por padrão é inline, logo não pega*/
    margin-bottom: 0.25rem;
}

input:focus, textarea:focus, select:focus {
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem solid var(--stroke-hightlight);
    outline-offset: 0.1px; /*Atributo usado para pegar o estilo em outros navegadores.*/
}

/*Input do tipo data*/
input [type="data"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        /*O before precisa de um content, pois está sendo criado um novo elemento*/
        content: "";
        position: absolute;
        background: url(../../assets/icons/calendar-03.svg) center/contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;

        /*Atributos usados para alinhar elementos quando o position é absolute*/
        top: 50%;
        transform: translateY(-50%);
    }

}

select {
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}