@import url(fields/index.css); /*Estilos dos inputs e selects do form*/

form {
    margin-bottom: 3rem;
}

fieldset {
    border: none;
    display: grid;
    gap: 1.5rem;
}

legend {
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
}

/*Quero o fieldset que anterior a ele tenha outro fieldset*/
fieldset + fieldset {
    margin-top: 3rem;
}