#app {
    display: grid;
    grid-template-columns: 51.24% 48.75%;

    height: 100vh; /*100 view port significa toda parte visível*/
    overflow: hidden;
}

main {
    overflow: auto; /*A rolagem vai acontecer apenas no main*/
    padding: 4rem;

    .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    .back {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        gap: 0.5rem;
    }

    h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;
    }
}

aside {
    padding: 4rem;
    background-color: var(--surface-secondary);

    .aside-container {
        max-width: 31rem;

        & > img { /*Quero a primeira tag img dentro da classe .aside-container*/
            margin-top: 2rem;
        }
    }

    h2 {
        font: 600 2.5rem/1.25 var(--font-family);

        span {
            color: var(--text-highlight);
        }
    }
}